ol {
    margin-left: 7px;
}

li {
    line-height: 1;
}

.container-background{
    background-color: #F6F6EF;
    padding-top: 20px;
   
}

a:visited {
    color: #6495ED;
    text-decoration: none;
}

a.home-page:hover {
    text-decoration: none;
}